%h2.dashboard-heading= @title = t('admin.dashboard.heading')

.row
  .six.columns
    = render :partial => 'admin/dashboards/charts/sign_ups_by_date'
    = render :partial => 'admin/dashboards/charts/messages_by_date'
  .six.columns
    = render :partial => 'actions'

= javascript_include_tag 'admin_dashboard'
