!!! 5
%html
  %head
    %title
      = Setting.s('site.name')
      = "- #{@title}" if @title
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = font_include_tag "Bitter"
    = csrf_meta_tags
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0'}
    = bg_style_tag
    = yield(:head)

  %body{:class => home? && 'bg'}

    - if home?
      .container
        .row.no-margin
          #home
            .logo= logo_image_tag
            %article
              #messages= flash_messages
              = yield
    - else
      %header
        .container
          .row
            .offset-by-one.eleven.columns
              %nav.fixed
                %ul
                  %li.right.icon
                    - if current_user
                      = link_to '', destroy_user_session_path, :method => :delete, :class => 'door-icon small', :title => t('nav.log_out')
                  %li.right.icon
                    - if current_user && current_user.roles?(:admin)
                      %a.gear-icon.small{:href => admin_dashboard_path, :title => t('nav.admin')}
                  %li.right.on-mobile
                    = form_tag '/search', :method => :get, :id => 'search' do
                      = text_field_tag :q, nil, :placeholder => t('nav.search_placeholder'), :id => 'search-query'
                  %li{:class => params[:controller] == 'homes' ? 'on-mobile active' : 'on-mobile'}
                    = link_to t('nav.home'), root_path, :class => 'btn'
                  - if current_user
                    %li{:class => params[:controller] == 'profiles' && @profile && @profile.user == current_user && 'active'}
                      = link_to t('nav.profile'), my_profile_path, :class => 'btn'
                    %li{:class => params[:controller] == 'groups' && 'active'}
                      = link_to t('nav.groups'), groups_path, :class => 'btn'
                  - else
                    %li
                      = link_to t('nav.log_in'), new_user_session_path, :class => 'btn'
      #main
        .container
          .row
            - if meta = yield(:meta)
              .meta= meta
            %div{:class => meta ? 'body-with-meta' : 'body'}
              .row
                #messages= flash_messages
                = yield
                = footer_content
