!!! 5
%html
  %head
    %title
      = Setting.s('site.name')
      = "- #{@title}" if @title
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = font_include_tag "Bitter"
    = csrf_meta_tags
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0'}
    = bg_style_tag
    = yield(:head)

  %body.bg

    - if home?
      .container
        .row.no-margin
          #home
            .logo= logo_image_tag
            %article
              #messages= flash_messages
              = yield
    - else
      %header
        .container
          .row
            .offset-by-one
              %nav
                %ul
                  -#%a{:href => '/'}= s('site.name')
                  - if current_user
                    %li{:class => params[:controller] == 'profiles' && @profile && @profile.user == current_user && 'active'}
                      = link_to t('nav.profile'), my_profile_path
                    %li{:class => params[:controller] == 'users' && 'active'}
                      = link_to t('nav.account'), edit_user_registration_path
                    - if current_user.roles?(:admin)
                      %li{:class => params[:controller] =~ /^admin/ && 'active'}
                        = link_to t('nav.admin'), admin_dashboard_path
                    %li
                      = link_to t('nav.log_out'), destroy_user_session_path, :method => :delete
                    -#%li
                      -#%form{:action => search_path, :method => :get, :id => 'search-form'}
                        -#= text_field_tag :q, params[:q], :placeholder => t('nav.search_placeholder')
                  - else
                    %li{:class => params[:controller] == 'homes' && 'active'}
                      = link_to t('nav.home'), root_path
                    %li
                      = link_to t('nav.log_in'), new_user_session_path
      #main
        .container
          .row
            - if meta = yield(:meta)
              .meta= meta
            %div{:class => meta ? 'body-with-meta' : 'body'}
              .row
                #messages= flash_messages
                = yield

    - unless home?
      :javascript
        setupScroll()
